body {
    margin: 0;
    font-family: Arial;
    background-color: White;
    color: white;
}



/* Side drawer */
.drawer {
    position: fixed;
    top: 0;
    left: -70%;

    width: 70%;
    height: 100%;
    border-bottom-right-radius:10px;
	border-top-right-radius:10px;
    background: #1565C0;
    color: white;
	font-size:25px;
    padding:20px;
    transition: 0.4s;
	box-sizing:border-box;
	box-shadow:2px 0 10px rgba(0,0,0,0.3);
}

.xBtnExitDrawer{
  width:40px;
  height:40px;
  margin-right: auto;
  margin-left:620px;
}

/* Open drawer */
.drawer.active {
    left: 0;
}


/* Dark background overlay */
.overlay {
    position: fixed;

    top: 0;
    left: 0;

    width: 200%;
    height: 100%;

    background: rgba(0,0,0,0.4);

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;
}

/* Show overlay */
.overlay.active {
    background:transparent;
    visibility: visible;
}



/* Top bar 1 */
.topbar {
    display:flex;
    align-items: center;
    padding: 15px;
    background-color: #1565C0;
}

/* Menu icon */
.menu {
    width:45px;
	height:45px;
    font-size: 40px; 
	margin-left:20px;
}


.headerTitle{
  flex:1;
  font-size:33px;
  text-align:center;
  color:white;
  margin-left:120px;
  
  
}


/*Search icon at the top right side*/
.searchBtn{
  margin-right: auto; 
  margin-right:25px;
  
 }
.topSearchIcon {
    width: 46px;
    height: 46px;
    filter: invert(1);
}


/*Mic icon at the top right side*/
.topMicIcon {
    width: 44px;
    height: 44px;
	margin-right: 25px;
    margin-left: 25px;
    filter: invert(1);
}


/*image dp icon*/
.userDp{
  margin-right:10px;
  width:85px;
  height:85px;
  border-radius:50%;
  object-fit: cover;
}

/* Middle TopBar 2 */
.middleTopBar{

    display:flex;
    align-items:center;
    padding:15px;
    background-color:#1976D2;
    opacity:0;
    transform:translateY(-30px);
    transition:0.4s;
    pointer-events:none;
}

/* Opening animation */
.middleTopBar.active{
    opacity:1;
    transform:translateY(0);
    pointer-events:auto;
}

/* Search bar container */
.searchBarContainer {
	align-items:center;
	display:flex;
    width: 1000px;
	height:65px;
    background: white;
    padding: 0 12px;
	flex:1;
    border-radius: 30px;
}

/*searchIcon inside the searchBar*/
.searchIcon{
  width:26px;
  height:26px;
  filter:brightness(0);
  margin-right:8px;
 }

.searchbar {
    flex:1;
	height:35px;
	outline:none;
    border: none;
    font-size: 24px;
}


/* Main section 3 */
.section1 {
    text-align: center;
    padding: 80px 20px;
}

/* Title */
.title {
    background-color: orange;
    color: black;
    padding: 15px;
    border-radius: 12px;
    display: inline-block;
}

/* Description */
.description {
    margin-top: 20px;
    font-size: 18px;
    color: #000;
}

/* Button */
.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: orange;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}









